---
import Preload from '../components/Preload.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Preload />
	</main>
</Layout>

<style>
	
</style>

<script>
	 setInterval(()=>{
		window.location.href = '/login'
	 }, 4000)
</script>