---
import { Image } from "astro:assets";
import logo from "../assets/manjaro-logo.png";
---

<section id:"google" class="logo">
  <Image src={logo} alt="Margaro Logo" width={60} height={60} />
  <span>Margaro OS</span>
</section>

<style>
  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }
</style>
