---

---

<header class="bar">
  <section>

  </section>
  <section id="calendar">
    <input type="date" />
  </section>
  <section id="panel-buttons">
    <i class="fa-solid fa-wifi"></i>
    <i class="fa-solid fa-volume-high"></i>
    <i class="fa-solid fa-power-off"></i>
  </section>
  <section id="panel">
    <section></section>
    <section></section>
    <section></section>
  </section>
</header>

<style>
  .bar {
    z-index: 9;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: var(--bg-black-terminal);
    color: var(--white);
    font-size: 0.8rem;
    padding: 0 .3rem;
  }
  #calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.1s ease;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    cursor: default;
  }
  #calendar:hover {
    background-color: var(--bg-black);
  }
  input[type="date"] {
    background-color: var(--bg-black-terminal);
    border: none;
    color: var(--white);
    outline: none;
  }
  ::-webkit-calendar-picker-indicator {
    background-color: white;
  }

  #panel-buttons{
    display: flex;
    align-items: center;
    padding: .3rem;
    gap: .5rem;
    border-radius: 10px;
    padding: .3rem .5rem;
  }
  #panel-buttons:hover{
    background-color: var(--bg-black);
  }

  #panel{
    display: none;
    position: fixed;
    top: 40px;
    right: 5px;
    width: 400px;
    height: 230px;
    background-color: var(--bg-black);
    border-radius: 20px;
  }
</style>
<script>

</script>
